.ul-todo-list-content {
    position: relative;
    display: flex;
  

  }
  .ul-todo-sidebar {
    position: relative;
    width: 250px;
    margin-right: 20px;
    
  }

  .ul-todo-content-right {
    width: 100%;
    height: 100%;
  }
  .ul-contact-mobile-icon {
    display: none;
  }
  .ul-todo-mobile-menu-open {
    left: 0px!important;
    transition: all 0.5s ease-in;
  }
  .todo-sidebar-close{
    display: none;
  }
  .todo-img {
    width: max-content;
  }
  table.vgt-table td {
    vertical-align: middle;
  }
  @media only screen and (max-width: 1000px) {
  
     .ul-todo-list-content {
      flex-direction: column; 
    }
      .ul-todo-sidebar {
        width: 100%;
        margin-bottom: 2rem;
      }
      .ul-todo-content-right {
        width: calc(100% - 0px);
      }
      .ul-contact-mobile-icon {
        display: none;
      }
      .todo-sidebar-close{
        display: none;
      }
  
  }

 


